.header-logo {
   margin-left: 5px;
}

.header-text {
   margin: 40px 5px 20px 5px;
   font-size: 50px;
}

.article-confirmation {
   margin-top: 50px;
   max-height: 150px;
}

.confirmation, .submit {
   display: flex;
}

.survey {
   height: 200px;
   display: block;
}